<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="kaist.tap.kaf"
            name="Architecture Drawing Tool">
      </category>
      <view
            category="kaist.tap.kaf"
            class="kaist.tap.kaf.views.ProjectExplorer"
            icon="icons/sample.gif"
            id="kaist.tap.kaf.views.ProjectExplorer"
            name="Project Explorer">
      </view>
      <view
            category="kaist.tap.kaf"
            class="kaist.tap.kaf.views.PaletteView"
            icon="icons/sample.gif"
            id="kaist.tap.kaf.views.PaletteView"
            name="Palette">
      </view>
      <view
            category="kaist.tap.kaf"      
            class="kaist.tap.kaf.views.Canvas"
            icon="icons/sample.gif"
            id="kaist.tap.kaf.views.Canvas"
            name="Canvas">
      </view>
      <view
      		category="kaist.tap.kaf"
            class="kaist.tap.kaf.views.Property"
            icon="icons/sample.gif"
            id="kaist.tap.kaf.views.Property"
            name="Propert">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               id="kaist.tap.kaf.views.ProjectExplorer"
               ratio="0.5"
               relationship="right"
               relative="org.eclipse.ui.views.ProblemView">
         </view>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               id="kaist.tap.kaf.views.PaletteView"
               ratio="0.5"
               relationship="right"
               relative="org.eclipse.ui.views.ProblemView">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>
</plugin>
